[Unit]
Description=FUSE filesystem for LXC
ConditionVirtualization=!container
Before=lxc.service

[Service]
ExecStart=/usr/bin/lxcfs /var/lib/lxcfs/
KillMode=none
Restart=on-failure
ExecStop=/bin/fusermount -u /var/lib/lxcfs

[Install]
WantedBy=multi-user.target
