#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autotools_dev,autoreconf,systemd,quilt

override_dh_install:
	find $(CURDIR)/debian/lxcfs/lib/ -type d -empty -delete

override_dh_auto_install:
	dh_auto_install --destdir=debian/lxcfs

override_dh_installinit:
	dh_installinit -p lxcfs --no-restart-on-upgrade

override_dh_systemd_start:
	dh_systemd_start -p lxcfs --no-restart-on-upgrade lxcfs.service
