#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf,quilt

override_dh_install:
	find $(CURDIR)/debian/lxcfs/lib/ -type d -empty -delete
	sed -i "/dependency_libs/ s/'.*'/''/" \
	    "$(CURDIR)/debian/lxcfs/usr/lib/x86_64-linux-gnu/lxcfs/liblxcfs.la"

override_dh_auto_configure:
	dh_auto_configure -- --with-init-script=systemd

override_dh_auto_install:
	dh_auto_install --destdir=debian/lxcfs

override_dh_installsystemd:
	# just fuck off

override_dh_systemd_start:
	dh_systemd_start -p lxcfs --no-stop-on-upgrade lxcfs.service
