#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	rm -fr build

override_dh_auto_configure:
	mkdir -p build
	cd build && meson .. --prefix=/usr \
		-Dinit-script=systemd \
		-Dfuse-version=2

override_dh_auto_install:
	dh_auto_install --destdir=debian/lxcfs

override_dh_installsystemd:
	install -dm755 $(CURDIR)/debian/lxcfs/lib
	mv $(CURDIR)/debian/lxcfs/usr/lib/systemd \
	   $(CURDIR)/debian/lxcfs/lib/systemd
	dh_installsystemd -p lxcfs --no-stop-on-upgrade lxcfs.service
